@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif ;
}
.container{
  background: hsl(0, 0%, 100%);
   width: 20rem;
   height: 31rem;
   margin: 10rem 37rem;
   border-radius: 20px;
}
.container img{
   width: 20rem;
   padding: 17px;
   border-radius: 25px;
}
.container h2{
    text-align: center;
    font-size: 1.5rem;
}
.container p{
    color: hsl(220, 15%, 55%);
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
}

@media only screen and (max-width: 375px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        background: hsl(212, 45%, 89%);
        font-family: "Outfit", sans-serif ;
    }
    .container{
      background: hsl(0, 0%, 100%);
       width: 20rem;
       height: 20rem;
       margin: 10rem 37rem;
       border-radius: 20px;
    }
    .container img{
       width: 20rem;
       padding: 17px;
       border-radius: 25px;
    }
    .container h2{
        text-align: center;
        font-size: 1.5rem;
    }
    .container p{
        color: hsl(220, 15%, 55%);
        margin-top: 20px;
        text-align: center;
        font-size: 15px;
    }
}